* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 50px;
}

section {
  max-width: 100%;
}

section h1 {
  font-size: 2rem;
  line-height: 34.8px;
  font-weight: 800;
  padding-bottom: 30px;
}

p {
  font-size: 1.2rem;
  line-height: 30px;
  font-weight: 400;
}

span {
  color: #009966;
  font-weight: 800;
}

.par {
  padding-bottom: 10px;
}

footer {
  width: 100%;
  background-color: #666666;
  padding: 80px 20%;
  border-top: 8px solid #999999;
}

footer div {
  background-color: #fff;
  border-bottom: 8px solid #999999;
  padding: 10px 20px 20px 0;
}

footer div h1 {
  font-size: 1.5rem;
  line-height: 28.8px;
  font-weight: 800;
  width: fit-content;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
  padding: 8px 30px;
  margin-bottom: 20px;
  transform: translateX(-10px);
}
footer div p {
  padding-left: 20px;
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    display: flex;
    align-items: flex-start;
  }

  section {
    padding-left: 30px;
  }

  footer {
    padding: 80px 0;
  }
}

@media (max-width: 480px) {
  section {
    padding: 35px;
    text-align:start;
  }

  footer {
    padding: 80px 0;
  }
}
